@charset "UTF-8";
html {
    font-size: 62.5%;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;/*16px*/
    color: #333;
}
/* パソコンでは改行を消す */
.br-sp {
    display: none;
}
/* スマホ,タブレットでは改行タグを表示する */
@media screen and (max-width: 900px) {
    .br-sp {
        display: inline;
    }
}
.wrapper {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}
/* section */
.section-content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.section-heading {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}
.section-content-list {
    max-width: 350px;
    width: 100%;
    margin: 24px auto 0;
}
.section-content-txt {
    line-height: 2.25;
}
/* btn */
.btn {
    text-align: center;
    margin: 8px auto;
}
.btn-link {
    display: inline-block;
    border-radius: 8px;
    background-image: linear-gradient(0deg, #e65c00, #f9d423);
    color: #fff;
    font-weight: bold;
    line-height: 64px;
    max-width: 480px;
    width: 90%;
    white-space: nowrap;
    padding: 0 16px;
}
.btn-link::before {
    content: "";
    background-image: url(../img/arrow-double.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: contain;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -3px;
}
.btn-link:hover {
    background-color: #424c16;
    color: #fff;
}

/* kv */
.kv {
    position: relative;
    background-image: url(../img/kv.jpg);
    background-repeat: no-repeat;
    background-size: 116%;
    /*background-size: cover;*/

    background-position: 10% 54%;
    height: 580px;
}
@media screen and (min-width: 500px) {
    .kv {
        background-size: cover;
        background-position: 30% 54%;
    }
}
@media screen and (min-width: 768px) {
    .kv {
        background-image: url(../img/kv-pc.jpg);
        background-position: 50% 54%;
    }
}
.kv-logo {
    width: 172px;
    position: absolute;
    top: 18px;
    left: 18px;
}
@media screen and (min-width: 500px) {
    .kv-logo {
        left: 5%;
    }
}
.kv-copy {
    font-family: "Shippori Mincho", serif;
    font-weight: bold;
    position: absolute;
    top: 180px;
    left: 18px;
    font-size: 2.9rem;
    line-height: 1.4;
}
@media screen and (min-width: 768px) {
    .kv-copy {
        left: 5%;
        font-size: 3.6rem;
    }
}
.kv-sub-copy {
    font-weight: bold;
    position: absolute;
    top: 265px;
    left: 20px;
    font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
    .kv-sub-copy {
        top: 285px;
        left: 5.5%;
    }
}
.kv-content {
    position: absolute;
    bottom: 3%;
    left: 3%;
    background-color: rgb(255 255 255 / 80%);
    width: 94%;
    padding: 10px;
}
@media screen and (min-width: 768px) {
    .kv-content {
        left: 5%;
        bottom: 12%;
        width: 350px;
    }
}
.kv-content-copy {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.kv-content-txt {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.kv-content-txt strong {
    font-size: 2.2rem;
}
/* worry */
.worry-heading-box {
    background: linear-gradient(to bottom, #7896a3, #b8cbd1);
    padding: 18px 10px 35px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}
.worry .section-heading {
    color: #fff;
}
@media screen and (min-width: 768px) {
    .section-content.__worry {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
.worry-content-img-box {
    margin-top: 24px;
}
@media screen and (min-width: 768px) {
    .worry-content-img-box {
        max-width: 400px;
        width: 100%;
        margin-right: 20px;
    }
}
.worry-content-img-box img {
    border-radius: 16px;
}
/* about */
.about-heading-box {
    background: linear-gradient(to bottom,#FFF1CE 0%,#FACF5B 100%);
    padding: 18px 20px;
}
.about-lead {
    text-align: center;
    margin-top: 30px;
}
.about-ttl {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
@media screen and (min-width: 768px) {
    .about-box {
        display: flex;
        justify-content: space-between;
    }
}
.about-item {
    position: relative;
    background-color: #F4E8C9;
    border-radius: 8px;
    margin-top: 10px;
    padding: 16px;
}
@media screen and (min-width: 768px) {
    .about-item {
        width: 32%;
        padding-top: 42px;
    }
    .about-item + .about-item {
        margin-left: 16px;
    }
}
.about-num {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 6.7rem;
    color: #fff;
    font-family: "Birthstone", cursive;
    line-height: 1;
}
@media screen and (min-width: 768px) {
    .about-num {
        top: -14px;
        left: -1px;
    }
}
.about-copy {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 42px;
}
@media screen and (min-width: 768px) {
    .about-copy {
        margin-left: 0;
    }
}
.about-txt {
    margin-left: 42px;
}
@media screen and (min-width: 768px) {
    .about-txt {
        margin-left: 0;
    }
}
/* detail */
.detail {
    /*margin-top: 80px;*/
}
.detail-heading-box {
    background-color: #DDEBF2;
    width: 104%;
    margin-left: -2%;
    /*margin-top: -40px;*/
    padding: 64px 20px 30px;
    border-radius: 50% 50% 0 0;
}
@media screen and (min-width: 768px) {
    .detail-heading-box {
        width: 100%;
        margin-left: 0;
    }
}
.detail-sub-heading {
    text-align: center;
}
/*
.detail-heading-box {
    background-color: #DDEBF2;
    border-radius: 50%  50% 0 0;
    text-align: center;
    padding-top: 60px;
}*/
.section-content.__detail {
    background-color: #DDEBF2;
    width: 100%;
    padding: 0 0 40px;
}
/*
.detail-content-bg {
    background-color: #DDEBF2;
    width: 100%;
}*/
.detail-box {
    width: 90%;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .detail-box {
        display: flex;
        justify-content: space-between;
    }
}
.detail-item {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
}
@media screen and (min-width: 768px) {
    .detail-item {
        flex-direction: column;
        width: 32%;
    }
}
.detail-item + .detail-item {
    margin-top: 16px;
}
@media screen and (min-width: 768px) {
    .detail-item + .detail-item {
        margin-top: 0;
        margin-left: 16px;
    }
}
.detail-img-box {
    width: 132px;
    height: 144px;
    margin-right: 15px;
}
@media screen and (min-width: 768px) {
    .detail-img-box {
        width: 100%;
        height: 120px;
        margin-right: 0;
    }
}
.detail-img-box img {
    object-fit: cover;
}
.detail-img-box:first-of-type img {
    object-position: 32% 50%;
}
.detail-copy {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4px;
}
.detail-txt {
    margin-top: 10px;
}

/* user */
.user-heading-box {
    background: linear-gradient(to bottom,#FFF1CE 0%,#FACF5B 100%);
    padding: 18px 20px;
}
.user-box {
    margin-top: 4px;
}
@media screen and (min-width: 768px) {
    .user-box {
        display: flex;
        flex-direction: row;
        margin-top: 16px;
    }
}
.user-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #999;
    padding: 16px 0;
}
@media screen and (min-width: 768px) {
    .user-item {
        flex-direction: column-reverse;
        align-items: center;
        width: 32%;
        border-bottom: none;
        padding: 16px;
    }
    .user-item + .user-item {
        border-left: 1px dashed #999;
    }
}
.user-copy {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4px;
}
.user-txt {
    margin-top: 10px;
}
.user-img-box {
    margin-left: 15px;
}
.user-img-box img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 70px;
}
/* price */
.price-heading-box {
    background-color: #DDEBF2;
    width: 90%;
    line-height: 68px;
    border-radius: 34px;
    margin: 0 auto;
}
.price-txt {
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
}
.price-txt strong {
    font-size: 2.4rem;
}
.price-copy {
    text-align: center;
    margin: 24px 0 30px;
}
.price-copy strong,
.price-copy span {
    display: inline-block;
    background-color: #F8F0CF;
    margin-top: 6px;
    padding: 4px;
}
/* last */
.last-img {
    position: relative;
}
.last-img img {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    /*object-position: 0 100%;*/
}
.last-img::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(
        to bottom,
        transparent,
        #fff
    );
}
.last-logo {
    width: 172px;
    margin: 0 auto;
}
.last-txt {
    text-align: center;
    font-weight: bold;
}
/* footer */
.footer {
    border-top: 1px solid #ccc;
    text-align: center;
}
.footer-list {
    display: flex;
    justify-content: center;
}
.footer-list li {
    display: inline;
    font-size: 1.4rem;
    margin: 20px 0;
}
.footer-list li:nth-of-type(2) {
    margin-left: 10px;
}
.footer-list li:nth-of-type(2):before {
    content: "|";
    margin-right: 10px;
}
.footer small {
    font-size: 1.2rem;
}