@charset "UTF-8";
html {
    font-size: 62.5%;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;/*16px*/
    color: #333;
}
/* パソコンでは改行を消す */
.br-sp {
    display: none;
}
/* スマホ,タブレットでは改行タグを表示する */
@media screen and (max-width: 900px) {
    .br-sp {
        display: inline;
    }
}
.wrapper {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}
/* section */
/*.section-wrap {
    padding-bottom: 20px;
}*/
.section-content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.section-heading {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 396px) {
    .section-heading {
        font-size: 1.8rem;
    }
}
}
.section-content-list {
    max-width: 350px;
    width: 100%;
    margin: 24px auto 0;
}
.section-content-txt {
    line-height: 2.25;
}
/* btn */
.btn {
    text-align: center;
    margin: 8px 0;
}
.btn-link {
    display: inline-block;
    border-radius: 8px;
    background-image: linear-gradient(0deg, #e65c00, #f9d423);
    color: #fff;
    font-weight: bold;
    line-height: 64px;
    max-width: 480px;
    width: 100%;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 16px;
}
.btn-link::before {
    content: "";
    background-image: url(../img/arrow-double.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: contain;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -3px;
}
.btn-link:hover {
    background-color: #424c16;
    color: #fff;
}

/* kv */
.kv {
    position: relative;
    background-image: url(../img/kv-sp.jpg);
    background-repeat: no-repeat;
    /*background-size: 120%;*/
    background-size: cover;
    background-position: 0% 80%;
    height: 580px;
}
@media screen and (min-width: 430px) {
    .kv {
        background-position: 0% center;
    }
}
@media screen and (min-width: 768px) {
    .kv {
        background-image: url(../img/kv-pc.jpg);
        background-position: 50% 58%;
    }
}
.kv-logo {
    width: 172px;
    position: absolute;
    top: 18px;
    left: 5%;
}

.kv-copy {
    font-family: "Shippori Mincho", serif;
    font-weight: bold;
    position: absolute;
    top: 180px;
    left: 5%;
    font-size: 2.9rem;
    line-height: 1.4;
    text-shadow:
            0 0 3px #fff,
            0 0 6px #fff,
            0 0 8px #fff,
            0 0 10px #fff;
}
@media screen and (max-width: 400px) {
    .kv-copy {
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 768px) {
    .kv-copy {
        left: 5%;
        font-size: 3.6rem;
    }
}
.kv-sub-copy {
    font-weight: bold;
    position: absolute;
    top: 265px;
    left: 5%;
    font-size: 1.4rem;
    text-shadow:
            0 0 3px #fff,
            0 0 6px #fff,
            0 0 8px #fff,
            0 0 10px #fff;
}
@media screen and (max-width: 400px) {
    .kv-sub-copy {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 768px) {
    .kv-sub-copy {
        top: 285px;
        left: 5.5%;
        font-size: 1.8rem;
    }
}
.kv-content {
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: rgb(255 255 255 / 80%);
    width: 90%;
    padding: 10px;
}
@media screen and (min-width: 768px) {
    .kv-content {
        bottom: 12%;
        width: 350px;
    }
}
.kv-content-copy {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
@media screen and (max-width: 340px) {
    .kv-content-copy {
        font-size: 1.6rem;
    }
}
.kv-content-txt {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.kv-content-txt strong {
    font-size: 2.2rem;
}
/* worry */
.worry-heading-box {
    position: relative;
    background: linear-gradient(to bottom, #7896a3, #b8cbd1);
    padding: 18px 10px 35px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}
.worry .section-heading {
    color: #fff;
}
.worry .section-heading::after {
    content: "";
    display: inline-block;
    transform: translateX(-50%);
    background-image: url(../img/icon_worry.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 30px;
    margin-left: 16px;
}
@media screen and (min-width: 768px) {
    .section-content.__worry {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
.worry-content-img-box {
    margin-top: 24px;
}
@media screen and (min-width: 768px) {
    .worry-content-img-box {
        max-width: 400px;
        width: 100%;
        margin-right: 20px;
    }
}
.worry-content-img-box img {
    border-radius: 16px;
}
/* about */
.section-wrap.about {
    background-image: url(../img/bg_about.webp);
    padding-bottom: 80px;
}
.about-heading-box {
    background: linear-gradient(to bottom,#FFF1CE 0%,#FACF5B 100%);
    padding: 18px 0;
}
.about-heading-box .section-heading::before,
.about-heading-box .section-heading::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 50%;
    width: 31px;
    height: 36px;
    vertical-align: middle;
}
.about-heading-box .section-heading::before {
    background-image: url(../img/icon_star_L.png);
    margin-right: 12px;
}
.about-heading-box .section-heading::after {
    background-image: url(../img/icon_star_R.png);
    margin-left: 12px;
}
.about-lead {
    text-align: center;
    margin-top: 30px;
}
.about-ttl {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
@media screen and (max-width: 396px) {
    .about-ttl {
        font-size: 1.6rem;
    }
}
.about-ttl::before, .about-ttl::after {
    content: "";
    display: inline-block;

    background-image: url(../img/icon_about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 50%;
    width: 33px;
    height: 13px;
    vertical-align: middle;
}
.about-ttl::before {
    margin-right: 8px;
}
.about-ttl::after {
    margin-left: 8px;
}

@media screen and (min-width: 768px) {
    .about-box {
        display: flex;
        justify-content: space-between;
    }
}
.about-item {
    position: relative;
    background-color: #F4E8C9;
    border-radius: 8px;
    margin-top: 10px;
    padding: 16px;
}
@media screen and (min-width: 768px) {
    .about-item {
        width: 32%;
        padding-top: 42px;
    }
    .about-item + .about-item {
        margin-left: 16px;
    }
}
.about-num {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 6.7rem;
    color: #fff;
    font-family: "Birthstone", cursive;
    line-height: 1;
}
@media screen and (min-width: 768px) {
    .about-num {
        top: -14px;
        left: -1px;
    }
}
.about-copy {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 42px;
}
@media screen and (min-width: 768px) {
    .about-copy {
        margin-left: 0;
    }
}
.about-txt {
    margin-left: 42px;
}
@media screen and (min-width: 768px) {
    .about-txt {
        margin-left: 0;
    }
}
/* detail */
.detail {
    position: relative;
    background-color: #DDEBF2;
    margin-bottom: 40px;
}
.detail::before {
    content: "";
    position: absolute;
    width: 100%;/*120%*/
    height: 120px;
    top: -80px;
    left: 0;/*50%*/
    background-color: #DDEBF2;
    clip-path: ellipse(
        65% 100%
        at 50% 100%
    );
}
@media screen and (min-width: 1000px) {
    .detail::before {
        width: 100%;
        left: 0;
        transform: none;
        clip-path: ellipse(58% 100% at 50% 100%);
    }
}
.detail-heading-box {
    position: relative;
    z-index: 1;
}
.detail-heading-box .section-heading {
    position: relative;
}
.detail-heading-box .section-heading::before {
    content: "";
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    background-image: url(../img/icon_detail.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 23px;
}
.detail-sub-heading {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .detail-box {
        display: flex;
        justify-content: space-between;
    }
}
.detail-item {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 16px;
    padding: 16px;
}
@media screen and (min-width: 768px) {
    .detail-item {
        flex-direction: column;
        width: 32%;
    }
}
@media screen and (min-width: 768px) {
    .detail-item + .detail-item {
        margin-left: 16px;
    }
}
.detail-img-box {
    width: 132px;
    height: 144px;
    margin-right: 15px;
    flex-shrink: 0;
}
@media screen and (min-width: 768px) {
    .detail-img-box {
        width: 100%;
        height: 120px;
        margin-right: 0;
    }
}
.detail-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.detail-img-box:first-of-type img {
    object-position: 32% 50%;
}
.detail-copy {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4px;
}
.detail-txt {
    margin-top: 10px;
}

/* user */
.section-wrap.user {
    background-image: url(../img/bg_about.webp);
}
.user-heading-box {
    background: linear-gradient(to bottom,#FFF1CE 0%,#FACF5B 100%);
    padding: 18px 0;
}
.user-heading-box .section-heading::before,
.user-heading-box .section-heading::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 50%;
    width: 31px;
    height: 36px;
    vertical-align: middle;
}
.user-heading-box .section-heading::before {
    background-image: url(../img/icon_star_L.png);
    margin-right: 12px;
}
.user-heading-box .section-heading::after {
    background-image: url(../img/icon_star_R.png);
    margin-left: 12px;
}
.user-box {
    margin-top: 4px;
}
@media screen and (min-width: 768px) {
    .user-box {
        display: flex;
        flex-direction: row;
        margin-top: 16px;
    }
}
.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #ccc;
    padding: 16px 0;
}
@media screen and (min-width: 768px) {
    .user-item {
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 33.3%;
        border-bottom: none;
        margin-top: 16px;
        padding: 0 16px;
    }
    .user-item + .user-item {
        border-left: 1px dashed #ccc;
    }
}
.user-copy {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4px;
}
.user-txt {
    margin-top: 10px;
}
.user-img-box {
    margin-left: 15px;
}
.user-img-box img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 70px;
}
/* price */
.section-wrap.price {
    background-color: #DDEBF2;
    margin: 40px auto;
    padding: 40px 0 0;
}
@media screen and (min-width: 768px) {
    .section-wrap.price {
        border-radius: 4%;
        width: 66%;
    }
}
.price-heading-box {
    background-color: #fff;
    width: 90%;
    line-height: 68px;
    border-radius: 34px;
    margin: 0 auto;
}
.price-txt {
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
}
.price-txt span {
    background: linear-gradient(
    transparent 55%,
    #F9D223 55%
);
    padding-left: 6px;
}
.price-txt strong {
    font-size: 3.4rem;
}
.price-copy {
    text-align: center;
    margin: 24px 0 30px;
}
.price-copy strong,
.price-copy span {
    display: inline-block;
    background-color: #F8F0CF;
    margin-top: 6px;
    padding: 4px;
}
.price .section-content-list {
    max-width: 306px;
}
/* last */
.last {
    position: relative;
}
.last-img-box {
    position: relative;
    background-image: url(../img/img_bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 54%;
    height: 454px;
}

@media screen and (min-width: 500px) {
    .last-img-box {
        background-image: url(../img/img_bottom_m.jpg);
        background-size: cover;
        background-position: 30% 27%;
    }
}

@media screen and (min-width: 768px) {
    .last-img-box {
        background-size: contain;
        background-position: 0 0;
    }
}
.last-img-box::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgb(255 255 255 / 70%) 70%,
        #fff 100%
    );
    z-index: 1;
}
@media screen and (min-width: 768px) {
    .last-img-box::after {
        left: 369px;
        top: 0;
        width: 30px;
        height: 100%;
        background: linear-gradient(
            to right,
            transparent 0%,
            rgb(255 255 255 / 70%) 70%,
            #fff 100%
        );
    }
}

.last-copy-sp {
    font-family: "Shippori Mincho", serif;
    font-weight: bold;
    position: absolute;
    top: 190px;
    right: 5%;
    font-size: 2.3rem;
    line-height: 1.4;
    text-align: right;
    z-index: 2;
    text-shadow:
            0 0 3px #fff,
            0 0 6px #fff,
            0 0 8px #fff,
            0 0 10px #fff;
}
@media screen and (min-width: 768px) {
    .last-copy-sp {
       top: 170px;
    }
}
@media screen and (min-width: 768px) {
    .last-copy-sp {
        display: none;
    }
}
.last-copy-pc {
    display: none;
}
@media screen and (min-width: 768px) {
    .last-copy-pc {
        font-family: "Shippori Mincho", serif;
        font-weight: bold;
        display: block;
        font-size: 2.8rem;
        text-align: center;
        text-shadow:
                0 0 3px #fff,
                0 0 6px #fff,
                0 0 10px #fff;
    }
}
.last .section-content {
    z-index: 2;
}
@media screen and (min-width: 768px) {
    .last .section-content {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        width: 50%;
        padding-bottom: 0;
    }
}
.last-logo {
    width: 172px;
    margin: 24px auto;
}
.last-txt {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

/* footer */
.footer {
    border-top: 1px solid #ccc;
    text-align: center;
    padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
    .footer {
        margin-top: 20px;
    }
}
.footer-list {
    display: flex;
    justify-content: center;
    line-height: 1;
}
.footer-list li {
    display: inline;
    font-size: 1.2rem;
    margin: 8px 0;
}
.footer-list li:nth-of-type(2) {
    margin-left: 10px;
}
.footer-list li:nth-of-type(2):before {
    content: "|";
    margin-right: 10px;
}
.copy {
    line-height: 1;
}
.footer small {
    font-size: 1.2rem;
}